/* PHASE 9: Forms */
form {
    float: right;
    width: calc(100% - 100px);
    background-color:#eee;
    position: relative;
    bottom: 55px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px;

}
form * {
    display: block;
    margin: 10px 0;
}

form > label > * {
    background-color: white;
    width: calc(100% - 15px);
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
} 

.post-to-wall{
    background-color: green;
    border-radius: 3px;
    padding: 9px;
    border: 1px solid black; 
    color: white; 
    font-weight: 600;
    box-shadow: 
}